<h1>Nunes Sports</h1>

<header>
  <button routerLink="/lista">Lista de Produtos</button>
  <button routerLink="/cadastro">Novo Produto</button>
</header>

<router-outlet></router-outlet>
<!--<form [formGroup]="formProduto" (ngSubmit)="cadastrar()">-->
<!--  <div class="form-outline ">-->
<!--    <label class="form-label">Nome</label>-->
<!--    <input type="text" class="form-control form-control" formControlName="nome" required/>-->
<!--  </div>-->

<!--  <div class="form-outline">-->
<!--    <label class="form-label">Descrição</label>-->
<!--    <input type="text" class="form-control form-control" formControlName="descricao" required />-->
<!--  </div>-->

<!--  <div class="form-outline">-->
<!--    <label class="form-label">Preço</label>-->
<!--    <input type="number" class="form-control form-control" formControlName="preco" required />-->
<!--  </div>-->

<!--  <button>Cadastrar</button>-->
<!--</form>-->

<!--<hr>-->

<!--<div>-->
<!--  <ul *ngFor="let produto of produtos">-->
<!--    <li>Nome: {{produto.nome}} | Descricao: {{produto.descricao}} | Preço: {{produto.preco}}</li>-->
<!--  </ul>-->
<!--</div>-->
