body {
  font-family: Arial, sans-serif;
  padding: 20px;
  margin-right: 25%;
  margin-left: 25%;
}

h1 {
  text-align: center;
}

form {
  margin-bottom: 20px;
  font-size: 25px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 20%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  font-size: large;
}

button:hover {
  background-color: #45a049;
}
