<form [formGroup]="formProduto" (ngSubmit)="cadastrar()">
  <div class="form-outline ">
    <label class="form-label">Nome</label>
    <input type="text" class="form-control form-control" formControlName="nome" required/>
  </div>

  <div class="form-outline">
    <label class="form-label">Descrição</label>
    <input type="text" class="form-control form-control" formControlName="descricao" required />
  </div>

  <div class="form-outline">
    <label class="form-label">Preço</label>
    <input type="number" class="form-control form-control" formControlName="preco" required />
  </div>

  <button>Cadastrar</button>
</form>
